<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <style type="text/css">
                .ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd{
                    border: none!important;
                    overflow: hidden!important;
                    background-color: black!important;

                }
                .ui-layout-north {
                    z-index:20 !important;
                    overflow:hidden !important;
                }

                .ui-layout-north .ui-layout-unit-content {
                    overflow:hidden !important;
                }
            </style>

            <style type="text/css">
                .value {
                    width: 300px;
                }
            </style>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>EOC Control Center</title>
            </f:facet>
        </h:head>

        <h:body style="background-color: black;">

            <p:layout fullPage="true">

                <p:layoutUnit position="west" size="220"  collapsible="false">
                    <p:graphicImage value="images/logo_small.png" style="alignment-adjust: central"/>
                    <br/>
                    <h:form>
                        <ui:include src="menu_i.xhtml"></ui:include>
                    </h:form>  
                </p:layoutUnit>

                <p:layoutUnit position="center">
                    <p:breadCrumb>
                        <p:menuitem value="Digital Signs" url="ds.xhtml" />
                        <p:menuitem value="Add Digital Sign" url="AddDigitalSign.xhtml" />



                    </p:breadCrumb>
                    <h:form>
                        <p:dataTable var="dss" value="#{digitalSigns.precords}"  paginator="true" rows="10"  
                                     id="digitalsigndata" styleClass="datatablenephron" tableStyleClass="datatablenephron" >  



                            <f:facet name="header">  
                                Digital Signs
                            </f:facet>  




                            <p:column headerText="Location"  id="dsspfname" style="text-align:center">  
                                <h:outputText value="#{dss.location}" />  
                            </p:column>  



                            <p:column headerText="Description"  id="dssplnamexx" style="text-align:center">  
                                <h:outputText value="#{dss.nickname}" />  
                            </p:column>  

                            <p:column headerText="Status"  id="dssplnamecxcx" style="text-align:center">  
                                <h:outputText value="#{dss.status}" />  
                            </p:column>  

                            <p:column headerText="Play Now"  id="dssplnamedsds" style="text-align:center">  
                                <h:outputText value="Idle State" />  
                            </p:column>  

                            <p:column headerText="Actions"  id="Actions" style="text-align:center">  

                                <p:commandButton id="removeds" value="Remove" 
                                                 action="#{digitalSigns.removedss}"

                                                 type="submit"
                                                 >
                                    <f:param name="userID" value="#{dss.id}" />      

                                </p:commandButton>

                                <p:commandButton id="editds" value="Edit" 
                                                 action="#{digitalSigns.editdss}"

                                                 type="submit"
                                                 >
                                    <f:param name="userID" value="#{dss.id}" />      

                                </p:commandButton>

                            </p:column>  






                        </p:dataTable>  
                    </h:form>
                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>

