<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <style type="text/css">
                .ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd{
                    border: none!important;
                    overflow: hidden!important;
                    background-color: black!important;

                }
                .ui-layout-north {
                    z-index:20 !important;
                    overflow:hidden !important;
                }

                .ui-layout-north .ui-layout-unit-content {
                    overflow:hidden !important;
                }
            </style>

            <style type="text/css">
                .value {
                    width: 300px;
                }
            </style>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>EOC Control Center</title>
            </f:facet>
        </h:head>

        <h:body style="background-color: black;">

            <p:layout fullPage="true">

                <p:layoutUnit position="west" size="220"  collapsible="false">
                    <p:graphicImage value="images/logo_small.png" style="alignment-adjust: central"/>
    <br/>
    <h:form>
<ui:include src="menu_i.xhtml"></ui:include>
        </h:form>  
                </p:layoutUnit>

                <p:layoutUnit position="center">
                    <h:form>
                 <p:breadCrumb>
                        <p:menuitem value="Media Files" url="mediafiles.xhtml" />


                        <p:menuitem value="Add Media File" url="AddMediaFile.xhtml" />

                    </p:breadCrumb>





<p:accordionPanel>
    

                            <p:tab title="Editor">
                   




                    <p:dataTable var="mmss" value="#{mediaFiles.precords}"  paginator="true" rows="10"  
                                 id="mediafilesdata" styleClass="datatablenephron" tableStyleClass="datatablenephron" >  



                        <f:facet name="header">  
                            Media Files
                        </f:facet>  




                        <p:column headerText="Filename"  id="dsspfname" style="text-align:center">  
                            <h:outputText value="#{mmss.filename}" />  
                        </p:column>  



                        <p:column headerText="Filetype"  id="dssplnamexx" style="text-align:center">  
                            <h:outputText value="#{mmss.filetype}" />  
                        </p:column>  

                        <p:column headerText="Status"  id="dssplnamecxcx" style="text-align:center">  
                            <h:outputText value="#{mmss.status}" />  
                        </p:column>  



                        <p:column headerText="Actions"  id="Actions" style="text-align:center">  

                            <p:commandButton id="removeds" value="Remove" 
                                             action="#{mediaFiles.removedss}"

                                             type="submit"
                                             >
                                <f:param name="mmss" value="#{mmss.id}" />      

                            </p:commandButton>

                            <p:commandButton id="editds" value="Edit" 
                                             action="#{mediaFiles.editdss}"

                                             type="submit"
                                             >
                                <f:param name="mmss" value="#{mmss.id}" />      

                            </p:commandButton>

                        </p:column>  






                    </p:dataTable>  
                                         </p:tab>
    
                       <p:tab title="Media Viewer">
         <p:galleria value="#{imagesView.images}" var="image" panelWidth="500" panelHeight="313" showCaption="true">
                        <p:graphicImage value="images/datafiles/#{image}" alt="Image Description for #{image}" title="#{image}" width="100%" height="100%"/>
</p:galleria>
                   </p:tab>
    
    
</p:accordionPanel>
                        
                   
                        
                        </h:form>
                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>

