<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <style type="text/css">
                .ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd{
                    border: none!important;
                    overflow: hidden!important;
                    background-color: black!important;

                }
                .ui-layout-north {
                    z-index:20 !important;
                    overflow:hidden !important;
                }

                .ui-layout-north .ui-layout-unit-content {
                    overflow:hidden !important;
                }
            </style>

            <style type="text/css">
                .value {
                    width: 300px;
                }
            </style>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>EOC Control Center</title>
            </f:facet>
        </h:head>

        <h:body style="background-color: black;">

            <p:layout fullPage="true">

                <p:layoutUnit position="west" size="220"  collapsible="false">
                    <p:graphicImage value="images/logo_small.png" style="alignment-adjust: central"/>
                    <br/>

                    <h:form>
                        <ui:include src="menu_i.xhtml"></ui:include>
                    </h:form>  
                </p:layoutUnit>

                <p:layoutUnit position="center">
                    <h:form>

                        
                        
                        <p:panelGrid style="margin-top:20px;">
                            <f:facet name="header">
                                <p:row>
                                    <p:column colspan="7">Exit Sign Control</p:column>
                                </p:row>
                            </f:facet>

                            <p:row>
                                <p:column colspan="7">Exit Sign 
                                    <p:selectManyCheckbox id="basic222" >
                                        <f:selectItem itemLabel="Sign 1" itemValue="Sign 1" />
                                        <f:selectItem itemLabel="Sign 2" itemValue="Sign 2" />
                                        <f:selectItem itemLabel="Sign 3" itemValue="Sign 3" />
                                    </p:selectManyCheckbox>
                                </p:column>
                            </p:row>

                            <p:row>
                                <p:column colspan="7">Status 
                                    <p:selectOneRadio id="basic3333" >
                                        <f:selectItem itemLabel="Off" itemValue="Off" />
                                        <f:selectItem itemLabel="Waiting" itemValue="Waiting" />
                                        <f:selectItem itemLabel="On" itemValue="On" />
                                    </p:selectOneRadio>
                                </p:column>
                            </p:row>

                            <p:row>
                                <p:column colspan="7">Options
                                    <p:selectOneRadio id="basic4444" >
                                        <f:selectItem itemLabel="Operator Overright" itemValue="Operator Overright" />
                                        <f:selectItem itemLabel="Apply Conditions" itemValue="Apply Conditions" />
                                        <f:selectItem itemLabel="Direct Access" itemValue="Direct Access" />
                                    </p:selectOneRadio>
                                </p:column>
                            </p:row>

                            <p:row>
                                <p:column colspan="7">
                                    <p:button value="Play" />            
                                </p:column>
                            </p:row>

                        </p:panelGrid>

                    </h:form>
                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>

