<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <style type="text/css">
                .ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd{
                    border: none!important;
                    overflow: hidden!important;
                    background-color: black!important;

                }
                .ui-layout-north {
                    z-index:20 !important;
                    overflow:hidden !important;
                }

                .ui-layout-north .ui-layout-unit-content {
                    overflow:hidden !important;
                }
            </style>

            <style type="text/css">
                .value {
                    width: 300px;
                }
            </style>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>EOC Control Center</title>
            </f:facet>
        </h:head>

        <h:body style="background-color: black;">

            <p:layout fullPage="true">

                <p:layoutUnit position="west" size="220"  collapsible="false">
                    <p:graphicImage value="images/logo_small.png" style="alignment-adjust: central"/>
    <br/>
  
                    <h:form>
                    <ui:include src="menu_i.xhtml"></ui:include>
        </h:form>  
                </p:layoutUnit>

                <p:layoutUnit position="center">
                    <h:form>
                        
                    <p:accordionPanel>
                            <p:tab title="Send A Message (Tetra System)">



                                <p:dataGrid var="car" value="#{callsManager.calls}" columns="3" 
                                            rows="12" paginator="true" id="cars"
                                            paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                            rowsPerPageTemplate="6,12,16">

                                    <f:facet name="header">
                                        Send a Message
                                    </f:facet>

                                    <p:panel header="#{car.fname}" style="text-align:center">
                                        <h:panelGrid columns="1" style="width:100%">
                                            

                                            <h:outputText value="#{car.ftype}" />

                                            <h:outputText value="#{car.fstatus}" />

                                        </h:panelGrid>
                                        <h:panelGrid columns="2" style="width:100%">
                                            
                                            <p:inputText value="#{callsManager.ssmessage}" 
                                             id="tetramessage"  label="tetramessage" />
                                            
                                            <p:commandButton id="loginButton" value="Send" 
                                                     
                                                     action="#{callsManager.sendmsg}" 
                                                     type="submit"
                                                     >
                                                <f:setPropertyActionListener value="#{car}" target="#{callsManager.selectedFO}" />
                                            </p:commandButton>
                                            
                                            
                                        </h:panelGrid>
                                        <p:selectOneRadio id="basic4444" >
                                        <f:selectItem itemLabel="Operator Overright" itemValue="Operator Overright" />
                                        <f:selectItem itemLabel="Apply Conditions" itemValue="Apply Conditions" />
                                    </p:selectOneRadio>
                                    </p:panel>

                                </p:dataGrid>


                            </p:tab>
                            
                            <p:tab title="History">

                                <p:dataGrid var="car3" value="#{historyCallsManager.calls}" columns="3" 
                                            rows="12" paginator="true" id="cars3"
                                            paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                            rowsPerPageTemplate="6,12,16">

                                    <f:facet name="header">
                                        Calls History
                                    </f:facet>

                                    <p:panel header="#{car3.callmembers}" style="text-align:center">
                                        <h:panelGrid columns="2" style="width:100%">

                                            <h:panelGrid columns="2" style="width:100%">





                                                
                                                Message Text
                                                <h:outputText value="#{car3.duration}" />
                                                Type
                                                <h:outputText value="#{car3.calltype}" />
                                                Status
                                                <h:outputText value="#{car3.status}" />


                                            </h:panelGrid>
                                        </h:panelGrid>
                                    </p:panel>

                                </p:dataGrid></p:tab>
                        </p:accordionPanel>
                    
                    </h:form>
                </p:layoutUnit>

            </p:layout>

        </h:body>

    </f:view>
</html>

